@import url('https://fonts.googleapis.com/css?family=Akronim|Kaushan+Script&display=swap');
.blueclasse{
    color:blue;
}
.backred{
    background-color: red;
}
#bar{
    color: white;
    background-color: black;
}
.pinku{
    background-color: pink;
}
html{
    font-family: Akronim;
}
dd{
    font-family: Kaushan Script;
}